{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    {{ render_pub_date(post) }}
    {{ post.body|excerpt }}
    <a href="{{ post|url }}" role="button" class="btn btn-primary">Read More <i class="fa fa-book" aria-hidden="true"></i></a>
  {% else %}
    <h2>{{ post.title }}</h2>
    {{ render_pub_date(post) }}
    {% if post.body.toc|count > 0 %}
      <div class="clickable" data-toggle="collapse" id="contents-header" data-target=".toc">
          <a href="#"><h6>Contents: <i class="fa fa-caret-down" aria-hidden="true"></i></h6></a>
      </div>
      <div class="collapse in budgets toc">
          <div class="list-group d-inline-block">
          {% for item in post.body.toc recursive %}
            <a href="#{{ item.anchor }}" class="list-group-item list-group-item-action">{{ item.title }}</a>
            {%if item.children %}
              {{ loop(item.children) }}
            {% endif %}
          {% endfor %}
          </div>
      </div>
      <hr />
    {% endif %}
    {{ post.body }}
  {% endif %}
  </div>
{% endmacro %}

{% macro render_pub_date(post) %}
  <p class="meta">
    <div>
      <div align="left">
        <i class="fa fa-clock-o" aria-hidden="true"></i> Published {{ post.pub_date|dateformat('medium') }}
      </div>
      {% if post.update_date %}
      <div align="left">
        <i class="fa fa-clock-o" aria-hidden="true"></i> Updated {{ post.update_date|dateformat('medium') }}
      </div>
      {% endif %}
    </div>
  </p>
  <hr />
{% endmacro %}
