{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    <div>
      <div align="left" style="float: left;">
        by
        {% if post.twitter_handle %}
          <a href="https://twitter.com/{{ post.twitter_handle}}">{{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
      </div>
      <div align="right">
        <i class="fa fa-clock-o" aria-hidden="true"></i> Published {{ post.pub_date|dateformat('medium') }}
      </div>
      {% if post.update_date %}
      <div align="right">
        <i class="fa fa-clock-o" aria-hidden="true"></i> Updated {{ post.update_date|dateformat('medium') }}
      </div>
      {% endif %}
    </div>
  </p>
  <hr />
  {% if post.body.toc|count > 0 %}
    <h4>Contents:</h4>
    <div class="well well-sm">
    {% for item in post.body.toc recursive %}
      <a href="#{{ item.anchor }}">{{ item.title }}</a>
      {%if item.children %}
        <br />
        <span style="margin-left: 2em;">{{ loop(item.children) }}</span>
      {% endif %}
    {% endfor %}
    </div>
    <hr />
  {% endif %}
  {{ post.body }}
  </div>
{% endmacro %}
