{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  {% for child in site.query('/blog') %}
    {% if child._model == "blog-post" %}
      {{ render_blog_post(child, from_index=true) }}
    {% endif %}
  {% endfor %}
  <nav>
    <ul class="pager">
      {% if this.pagination.has_prev %}
        <li class="pager-prev">
          <a href="{{ this.pagination.prev|url }}">
            <span>&larr;</span> Previous
          </a>
        </li>
      {% endif %}
      {% if this.pagination.has_next %}
        <li class="pager-next">
          <a href="{{ this.pagination.next|url }}">
            Next <span>&rarr;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
