<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <script src="https://use.fontawesome.com/abfeddf4d7.js"></script>

    <title>{% block title %}Welcome{% endblock %}</title>

    {% block extra_head_tags %}{% endblock %}
  </head>
  <body>
    <div class="ga-script">{{ generate_google_analytics() }}</div>
    <header>

      <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
        <button type="button" class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" data-target="#navbar">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand" href="/">Kyle Crawshaw</a>
        <div class="collapse navbar-toggleable-sm pull-md-none" id="navbar" style="height: 1px;">
            <div class="navbar-text pull-xs-right social-icons">
                <a href="https://twitter.com/kylecrawshaw" class="nav-link" title="@kylecrawshaw on Twitter" alt="twitter link" rel="me">
                    <i class="fa fa-lg fa-twitter" alt="twitter-icon"></i>
                </a>
                &nbsp;
                <a href="https://github.com/kylecrawshaw" class="nav-link" title="@kylecrawshaw on GitHub" rel="me">
                    <i class="fa fa-lg fa-github"></i>
                </a>
                &nbsp;
                <a href="https://keybase.io/kylecrawshaw" title="kylecrawshaw on Keybase" rel="me">
                    <i class="fa fa-key"></i>
                </a>
                {% if this.path %}
                &nbsp;
                <a href="https://github.com/kylecrawshaw/kylecrawshaw.com/tree/master/content{{ this.path.split('@')[0]}}/contents.lr" title="View source on Github">
                    <i class="fa fa-code"></i>
                </a>
                {% endif %}
            </div>
          <ul class="nav navbar-nav pull-xs-left">
              <li{% if this._path == "/" or this.is_child_of("/blog") %} class="nav-item active"{% else %} class="nav-item"{% endif%}>
              <a href="/" class="nav-link">Blog</a>
            </li>
                {% set nav_links = [['/projects', 'Projects'],['/about', 'About']] %}
                {% for href, title in nav_links %}
                <li{% if this.is_child_of(href) %} class="nav-item active"{% else %} class="nav-item"{% endif%}>
                    <a href="{{ href|url }}" class="nav-link">{{ title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </nav>

    </header>
    <div class="page container">
      {% block body %}{% endblock %}
      <p class="text-xs-center">
      <span id="top-link-block" class="hidden">
        <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
          <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
        </a>
      </span>
      </p>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted" align="center">Brought to you by Kyle Crawshaw</p>
      </div>
    </footer>
    <script>
      // Only enable if the document has a long scroll bar
      // Note the window height + offset
      if ( ($(window).height() + 100) < $(document).height() ) {
          $('#top-link-block').removeClass('hidden').affix({
              // how far to scroll down before link "slides" into view
              offset: {top:100}
          });
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
  </body>
</html>
